<button>Filter</button>
<button>Maps</button>
<button>List</button>
<button>Search</button>
<br>
<div id='maps'>map here</div>
<div id='list'>list view here</div>


<form id="filter-form">
  <h2>Filter</h2>
  <label>Distance</label><input type='text'>
  <br>
  <label>Cause</label><input type='text'>
  <br>
  <input type='submit' value='submit'>
</form>