/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; visibility:hidden;}

.ui-button {
  background:#14A9FF;
  color:#FFF;
  display:block;
  position:absolute;
  top:30%;left:50%;
  width:120px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;

  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }

#welcome-title {
  background-image: url("FinalPhotoSMALLER.png");
  background-repeat:no-repeat;
  box-sizing: border-box;
  width: 775px;
  height: 667px;
  }

.proxima{
  font-family: montserrat;
  text-align: center;
  width: 375px;
}

h1.proxima{
  font-size: 45px;
}
p.proxima{
  margin-top: -25px;

}
@import "bootstrap-sprockets"
@import "bootstrap"
